.flag {
  display: inline-block;
  background: url('assets/flags.png');
  width: 20px;
}
.flag.f_ac {
  height: 10px;
  background-position: 0
}
.flag.f_ad {
  height: 14px;
  background-position: -22px 0
}
.flag.f_ae {
  height: 10px;
  background-position: -44px 0
}
.flag.f_af {
  height: 14px;
  background-position: -66px 0
}
.flag.f_ag {
  height: 14px;
  background-position: -88px 0
}
.flag.f_ai {
  height: 10px;
  background-position: -110px 0
}
.flag.f_al {
  height: 15px;
  background-position: -132px 0
}
.flag.f_am {
  height: 10px;
  background-position: -154px 0
}
.flag.f_ao {
  height: 14px;
  background-position: -176px 0
}
.flag.f_aq {
  height: 14px;
  background-position: -198px 0
}
.flag.f_ar {
  height: 13px;
  background-position: -220px 0
}
.flag.f_as {
  height: 10px;
  background-position: -242px 0
}
.flag.f_at {
  height: 14px;
  background-position: -264px 0
}
.flag.f_au {
  height: 10px;
  background-position: -286px 0
}
.flag.f_aw {
  height: 14px;
  background-position: -308px 0
}
.flag.f_ax {
  height: 13px;
  background-position: -330px 0
}
.flag.f_az {
  height: 10px;
  background-position: -352px 0
}
.flag.f_ba {
  height: 10px;
  background-position: -374px 0
}
.flag.f_bb {
  height: 14px;
  background-position: -396px 0
}
.flag.f_bd {
  height: 12px;
  background-position: -418px 0
}
.flag.f_be {
  height: 15px;
  background-position: -440px 0
}
.flag.f_bf {
  height: 14px;
  background-position: -460px 0
}
.flag.f_bg {
  height: 12px;
  background-position: -482px 0
}
.flag.f_bh {
  height: 12px;
  background-position: -504px 0
}
.flag.f_bi {
  height: 12px;
  background-position: -526px 0
}
.flag.f_bj {
  height: 14px;
  background-position: -548px 0
}
.flag.f_bl {
  height: 14px;
  background-position: -570px 0
}
.flag.f_bm {
  height: 10px;
  background-position: -592px 0
}
.flag.f_bn {
  height: 10px;
  background-position: -614px 0
}
.flag.f_bo {
  height: 14px;
  background-position: -636px 0
}
.flag.f_bq {
  height: 14px;
  background-position: -658px 0
}
.flag.f_br {
  height: 14px;
  background-position: -680px 0
}
.flag.f_bs {
  height: 10px;
  background-position: -702px 0
}
.flag.f_bt {
  height: 14px;
  background-position: -724px 0
}
.flag.f_bv {
  height: 15px;
  background-position: -746px 0
}
.flag.f_bw {
  height: 14px;
  background-position: -768px 0
}
.flag.f_by {
  height: 10px;
  background-position: -790px 0
}
.flag.f_bz {
  height: 14px;
  background-position: -812px 0
}
.flag.f_ca {
  height: 10px;
  background-position: -834px 0
}
.flag.f_cc {
  height: 10px;
  background-position: -856px 0
}
.flag.f_cd {
  height: 15px;
  background-position: -878px 0
}
.flag.f_cf {
  height: 14px;
  background-position: -900px 0
}
.flag.f_cg {
  height: 14px;
  background-position: -922px 0
}
.flag.f_ch {
  height: 15px;
  background-position: -944px 0
}
.flag.f_ci {
  height: 14px;
  background-position: -961px 0
}
.flag.f_ck {
  height: 10px;
  background-position: -983px 0
}
.flag.f_cl {
  height: 14px;
  background-position: -1005px 0
}
.flag.f_cm {
  height: 14px;
  background-position: -1027px 0
}
.flag.f_cn {
  height: 14px;
  background-position: -1049px 0
}
.flag.f_co {
  height: 14px;
  background-position: -1071px 0
}
.flag.f_cp {
  height: 14px;
  background-position: -1093px 0
}
.flag.f_cr {
  height: 12px;
  background-position: -1115px 0
}
.flag.f_cu {
  height: 10px;
  background-position: -1137px 0
}
.flag.f_cv {
  height: 12px;
  background-position: -1159px 0
}
.flag.f_cw {
  height: 14px;
  background-position: -1181px 0
}
.flag.f_cx {
  height: 10px;
  background-position: -1203px 0
}
.flag.f_cy {
  height: 13px;
  background-position: -1225px 0
}
.flag.f_cz {
  height: 14px;
  background-position: -1247px 0
}
.flag.f_de {
  height: 12px;
  background-position: -1269px 0
}
.flag.f_dg {
  height: 10px;
  background-position: -1291px 0
}
.flag.f_dj {
  height: 14px;
  background-position: -1313px 0
}
.flag.f_dk {
  height: 15px;
  background-position: -1335px 0
}
.flag.f_dm {
  height: 10px;
  background-position: -1357px 0
}
.flag.f_do {
  height: 13px;
  background-position: -1379px 0
}
.flag.f_dz {
  height: 14px;
  background-position: -1401px 0
}
.flag.f_ea {
  height: 14px;
  background-position: -1423px 0
}
.flag.f_ec {
  height: 14px;
  background-position: -1445px 0
}
.flag.f_ee {
  height: 13px;
  background-position: -1467px 0
}
.flag.f_eg {
  height: 14px;
  background-position: -1489px 0
}
.flag.f_eh {
  height: 10px;
  background-position: -1511px 0
}
.flag.f_er {
  height: 10px;
  background-position: -1533px 0
}
.flag.f_es {
  height: 14px;
  background-position: -1555px 0
}
.flag.f_et {
  height: 10px;
  background-position: -1577px 0
}
.flag.f_eu {
  height: 14px;
  background-position: -1599px 0
}
.flag.f_fi {
  height: 12px;
  background-position: -1621px 0
}
.flag.f_fj {
  height: 10px;
  background-position: -1643px 0
}
.flag.f_fk {
  height: 10px;
  background-position: -1665px 0
}
.flag.f_fm {
  height: 11px;
  background-position: -1687px 0
}
.flag.f_fo {
  height: 15px;
  background-position: -1709px 0
}
.flag.f_fr {
  height: 14px;
  background-position: -1731px 0
}
.flag.f_ga {
  height: 15px;
  background-position: -1753px 0
}
.flag.f_gb {
  height: 10px;
  background-position: -1775px 0
}
.flag.f_gd {
  height: 12px;
  background-position: -1797px 0
}
.flag.f_ge {
  height: 14px;
  background-position: -1819px 0
}
.flag.f_gf {
  height: 14px;
  background-position: -1841px 0
}
.flag.f_gg {
  height: 14px;
  background-position: -1863px 0
}
.flag.f_gh {
  height: 14px;
  background-position: -1885px 0
}
.flag.f_gi {
  height: 10px;
  background-position: -1907px 0
}
.flag.f_gl {
  height: 14px;
  background-position: -1929px 0
}
.flag.f_gm {
  height: 14px;
  background-position: -1951px 0
}
.flag.f_gn {
  height: 14px;
  background-position: -1973px 0
}
.flag.f_gp {
  height: 14px;
  background-position: -1995px 0
}
.flag.f_gq {
  height: 14px;
  background-position: -2017px 0
}
.flag.f_gr {
  height: 14px;
  background-position: -2039px 0
}
.flag.f_gs {
  height: 10px;
  background-position: -2061px 0
}
.flag.f_gt {
  height: 13px;
  background-position: -2083px 0
}
.flag.f_gu {
  height: 11px;
  background-position: -2105px 0
}
.flag.f_gw {
  height: 10px;
  background-position: -2127px 0
}
.flag.f_gy {
  height: 12px;
  background-position: -2149px 0
}
.flag.f_hk {
  height: 14px;
  background-position: -2171px 0
}
.flag.f_hm {
  height: 10px;
  background-position: -2193px 0
}
.flag.f_hn {
  height: 10px;
  background-position: -2215px 0
}
.flag.f_hr {
  height: 10px;
  background-position: -2237px 0
}
.flag.f_ht {
  height: 12px;
  background-position: -2259px 0
}
.flag.f_hu {
  height: 10px;
  background-position: -2281px 0
}
.flag.f_ic {
  height: 14px;
  background-position: -2303px 0
}
.flag.f_id {
  height: 14px;
  background-position: -2325px 0
}
.flag.f_ie {
  height: 10px;
  background-position: -2347px 0
}
.flag.f_il {
  height: 15px;
  background-position: -2369px 0
}
.flag.f_im {
  height: 10px;
  background-position: -2391px 0
}
.flag.f_in {
  height: 14px;
  background-position: -2413px 0
}
.flag.f_io {
  height: 10px;
  background-position: -2435px 0
}
.flag.f_iq {
  height: 14px;
  background-position: -2457px 0
}
.flag.f_ir {
  height: 12px;
  background-position: -2479px 0
}
.flag.f_is {
  height: 15px;
  background-position: -2501px 0
}
.flag.f_it {
  height: 14px;
  background-position: -2523px 0
}
.flag.f_je {
  height: 12px;
  background-position: -2545px 0
}
.flag.f_jm {
  height: 10px;
  background-position: -2567px 0
}
.flag.f_jo {
  height: 10px;
  background-position: -2589px 0
}
.flag.f_jp {
  height: 14px;
  background-position: -2611px 0
}
.flag.f_ke {
  height: 14px;
  background-position: -2633px 0
}
.flag.f_kg {
  height: 12px;
  background-position: -2655px 0
}
.flag.f_kh {
  height: 13px;
  background-position: -2677px 0
}
.flag.f_ki {
  height: 10px;
  background-position: -2699px 0
}
.flag.f_km {
  height: 12px;
  background-position: -2721px 0
}
.flag.f_kn {
  height: 14px;
  background-position: -2743px 0
}
.flag.f_kp {
  height: 10px;
  background-position: -2765px 0
}
.flag.f_kr {
  height: 14px;
  background-position: -2787px 0
}
.flag.f_kw {
  height: 10px;
  background-position: -2809px 0
}
.flag.f_ky {
  height: 10px;
  background-position: -2831px 0
}
.flag.f_kz {
  height: 10px;
  background-position: -2853px 0
}
.flag.f_la {
  height: 14px;
  background-position: -2875px 0
}
.flag.f_lb {
  height: 14px;
  background-position: -2897px 0
}
.flag.f_lc {
  height: 10px;
  background-position: -2919px 0
}
.flag.f_li {
  height: 12px;
  background-position: -2941px 0
}
.flag.f_lk {
  height: 10px;
  background-position: -2963px 0
}
.flag.f_lr {
  height: 11px;
  background-position: -2985px 0
}
.flag.f_ls {
  height: 14px;
  background-position: -3007px 0
}
.flag.f_lt {
  height: 12px;
  background-position: -3029px 0
}
.flag.f_lu {
  height: 12px;
  background-position: -3051px 0
}
.flag.f_lv {
  height: 10px;
  background-position: -3073px 0
}
.flag.f_ly {
  height: 10px;
  background-position: -3095px 0
}
.flag.f_ma {
  height: 14px;
  background-position: -3117px 0
}
.flag.f_mc {
  height: 15px;
  background-position: -3139px 0
}
.flag.f_md {
  height: 10px;
  background-position: -3160px 0
}
.flag.f_me {
  height: 10px;
  background-position: -3182px 0
}
.flag.f_mf {
  height: 14px;
  background-position: -3204px 0
}
.flag.f_mg {
  height: 14px;
  background-position: -3226px 0
}
.flag.f_mh {
  height: 11px;
  background-position: -3248px 0
}
.flag.f_mk {
  height: 10px;
  background-position: -3270px 0
}
.flag.f_ml {
  height: 14px;
  background-position: -3292px 0
}
.flag.f_mm {
  height: 14px;
  background-position: -3314px 0
}
.flag.f_mn {
  height: 10px;
  background-position: -3336px 0
}
.flag.f_mo {
  height: 14px;
  background-position: -3358px 0
}
.flag.f_mp {
  height: 10px;
  background-position: -3380px 0
}
.flag.f_mq {
  height: 14px;
  background-position: -3402px 0
}
.flag.f_mr {
  height: 14px;
  background-position: -3424px 0
}
.flag.f_ms {
  height: 10px;
  background-position: -3446px 0
}
.flag.f_mt {
  height: 14px;
  background-position: -3468px 0
}
.flag.f_mu {
  height: 14px;
  background-position: -3490px 0
}
.flag.f_mv {
  height: 14px;
  background-position: -3512px 0
}
.flag.f_mw {
  height: 14px;
  background-position: -3534px 0
}
.flag.f_mx {
  height: 12px;
  background-position: -3556px 0
}
.flag.f_my {
  height: 10px;
  background-position: -3578px 0
}
.flag.f_mz {
  height: 14px;
  background-position: -3600px 0
}
.flag.f_na {
  height: 14px;
  background-position: -3622px 0
}
.flag.f_nc {
  height: 10px;
  background-position: -3644px 0
}
.flag.f_ne {
  height: 15px;
  background-position: -3666px 0
}
.flag.f_nf {
  height: 10px;
  background-position: -3686px 0
}
.flag.f_ng {
  height: 10px;
  background-position: -3708px 0
}
.flag.f_ni {
  height: 12px;
  background-position: -3730px 0
}
.flag.f_nl {
  height: 14px;
  background-position: -3752px 0
}
.flag.f_no {
  height: 15px;
  background-position: -3774px 0
}
.flag.f_np {
  height: 15px;
  background-position: -3796px 0
}
.flag.f_nr {
  height: 10px;
  background-position: -3811px 0
}
.flag.f_nu {
  height: 10px;
  background-position: -3833px 0
}
.flag.f_nz {
  height: 10px;
  background-position: -3855px 0
}
.flag.f_om {
  height: 10px;
  background-position: -3877px 0
}
.flag.f_pa {
  height: 14px;
  background-position: -3899px 0
}
.flag.f_pe {
  height: 14px;
  background-position: -3921px 0
}
.flag.f_pf {
  height: 14px;
  background-position: -3943px 0
}
.flag.f_pg {
  height: 15px;
  background-position: -3965px 0
}
.flag.f_ph {
  height: 10px;
  background-position: -3987px 0
}
.flag.f_pk {
  height: 14px;
  background-position: -4009px 0
}
.flag.f_pl {
  height: 13px;
  background-position: -4031px 0
}
.flag.f_pm {
  height: 14px;
  background-position: -4053px 0
}
.flag.f_pn {
  height: 10px;
  background-position: -4075px 0
}
.flag.f_pr {
  height: 14px;
  background-position: -4097px 0
}
.flag.f_ps {
  height: 10px;
  background-position: -4119px 0
}
.flag.f_pt {
  height: 14px;
  background-position: -4141px 0
}
.flag.f_pw {
  height: 13px;
  background-position: -4163px 0
}
.flag.f_py {
  height: 11px;
  background-position: -4185px 0
}
.flag.f_qa {
  height: 8px;
  background-position: -4207px 0
}
.flag.f_re {
  height: 14px;
  background-position: -4229px 0
}
.flag.f_ro {
  height: 14px;
  background-position: -4251px 0
}
.flag.f_rs {
  height: 14px;
  background-position: -4273px 0
}
.flag.f_ru {
  height: 14px;
  background-position: -4295px 0
}
.flag.f_rw {
  height: 14px;
  background-position: -4317px 0
}
.flag.f_sa {
  height: 14px;
  background-position: -4339px 0
}
.flag.f_sb {
  height: 10px;
  background-position: -4361px 0
}
.flag.f_sc {
  height: 10px;
  background-position: -4383px 0
}
.flag.f_sd {
  height: 10px;
  background-position: -4405px 0
}
.flag.f_se {
  height: 13px;
  background-position: -4427px 0
}
.flag.f_sg {
  height: 14px;
  background-position: -4449px 0
}
.flag.f_sh {
  height: 10px;
  background-position: -4471px 0
}
.flag.f_si {
  height: 10px;
  background-position: -4493px 0
}
.flag.f_sj {
  height: 15px;
  background-position: -4515px 0
}
.flag.f_sk {
  height: 14px;
  background-position: -4537px 0
}
.flag.f_sl {
  height: 14px;
  background-position: -4559px 0
}
.flag.f_sm {
  height: 15px;
  background-position: -4581px 0
}
.flag.f_sn {
  height: 14px;
  background-position: -4603px 0
}
.flag.f_so {
  height: 14px;
  background-position: -4625px 0
}
.flag.f_sr {
  height: 14px;
  background-position: -4647px 0
}
.flag.f_ss {
  height: 10px;
  background-position: -4669px 0
}
.flag.f_st {
  height: 10px;
  background-position: -4691px 0
}
.flag.f_sv {
  height: 12px;
  background-position: -4713px 0
}
.flag.f_sx {
  height: 14px;
  background-position: -4735px 0
}
.flag.f_sy {
  height: 14px;
  background-position: -4757px 0
}
.flag.f_sz {
  height: 14px;
  background-position: -4779px 0
}
.flag.f_ta {
  height: 10px;
  background-position: -4801px 0
}
.flag.f_tc {
  height: 10px;
  background-position: -4823px 0
}
.flag.f_td {
  height: 14px;
  background-position: -4845px 0
}
.flag.f_tf {
  height: 14px;
  background-position: -4867px 0
}
.flag.f_tg {
  height: 13px;
  background-position: -4889px 0
}
.flag.f_th {
  height: 14px;
  background-position: -4911px 0
}
.flag.f_tj {
  height: 10px;
  background-position: -4933px 0
}
.flag.f_tk {
  height: 10px;
  background-position: -4955px 0
}
.flag.f_tl {
  height: 10px;
  background-position: -4977px 0
}
.flag.f_tm {
  height: 14px;
  background-position: -4999px 0
}
.flag.f_tn {
  height: 14px;
  background-position: -5021px 0
}
.flag.f_to {
  height: 10px;
  background-position: -5043px 0
}
.flag.f_tr {
  height: 14px;
  background-position: -5065px 0
}
.flag.f_tt {
  height: 12px;
  background-position: -5087px 0
}
.flag.f_tv {
  height: 10px;
  background-position: -5109px 0
}
.flag.f_tw {
  height: 14px;
  background-position: -5131px 0
}
.flag.f_tz {
  height: 14px;
  background-position: -5153px 0
}
.flag.f_ua {
  height: 14px;
  background-position: -5175px 0
}
.flag.f_ug {
  height: 14px;
  background-position: -5197px 0
}
.flag.f_um {
  height: 11px;
  background-position: -5219px 0
}
.flag.f_us {
  height: 11px;
  background-position: -5241px 0
}
.flag.f_uy {
  height: 14px;
  background-position: -5263px 0
}
.flag.f_uz {
  height: 10px;
  background-position: -5285px 0
}
.flag.f_va {
  width: 15px;
  height: 15px;
  background-position: -5307px 0
}
.flag.f_vc {
  height: 14px;
  background-position: -5324px 0
}
.flag.f_ve {
  height: 14px;
  background-position: -5346px 0
}
.flag.f_vg {
  height: 10px;
  background-position: -5368px 0
}
.flag.f_vi {
  height: 14px;
  background-position: -5390px 0
}
.flag.f_vn {
  height: 14px;
  background-position: -5412px 0
}
.flag.f_vu {
  height: 12px;
  background-position: -5434px 0
}
.flag.f_wf {
  height: 14px;
  background-position: -5456px 0
}
.flag.f_ws {
  height: 10px;
  background-position: -5478px 0
}
.flag.f_xk {
  height: 15px;
  background-position: -5500px 0
}
.flag.f_ye {
  height: 14px;
  background-position: -5522px 0
}
.flag.f_yt {
  height: 14px;
  background-position: -5544px 0
}
.flag.f_za {
  height: 14px;
  background-position: -5566px 0
}
.flag.f_zm {
  height: 14px;
  background-position: -5588px 0
}
.flag.f_zw {
  height: 10px;
  background-position: -5610px 0
}
